.Collaborating_head{
    background: linear-gradient(
        180.25deg,
        rgba(252, 248, 248, 0.5) 12.57%,
        rgba(2, 48, 71, 0.5) 68.37%
      );
}

 .Services{
  /* border: 2px solid black; */
  margin-top: 3rem;
 }
.content-wrapper {
   
  
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 5rem;
 
  }

  .Quotation{
    width: 100%;
    padding-top: 3rem;
    display: flex;
    padding: 2rem;
    justify-content: center;
    gap: 5rem;

  }

  .Quotation_image{

    width: 35%;
    height: 100%;
    /* border: 2px solid black; */

  }
  .Quotation_image img{
    max-width: 100%;
    height: auto;
    /* border: 2px solid black; */

  }

  .Quotation_Form{
    width: 40%;
    margin-right: 3rem;
   
  }
  .Testimonial3dCarousel-Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Testimonial3dCarousel {
    width: 100%;
  }
  .Testimonial3dCarousel-Slide {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1.5rem;
    gap: 1rem;
  }
  .Mark {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .Testimonial-Slide-Content {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .Testimonial-Slide-Profile-Row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .Testimonials-Profile-Image {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100%;
  }
  .Testimonials-Profile-Image img {
    width: 100%;
    border-radius: 100%;
  }
  .Testimonials-Profile-Content-Col {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
  }
  .Testimonial3dCarousel
    .react-3d-carousel
    .slider-container
    .slider-content
    .slider-single
    .slider-single-content {
    width: 100%;
    height: 100%;
    box-shadow: none;
    opacity: 1 !important;
  }
  .Testimonial3dCarousel .react-3d-carousel .slider-container .slider-right div {
    display: block;
    border-top: 10px solid transparent;
    border-left: 20px solid #e26739;
    border-bottom: 10px solid transparent;
    padding: 0%;
  }
  .Testimonial3dCarousel .react-3d-carousel .slider-container .slider-right i {
    color: white;
    content: "\2192";
  }
  .Testimonial3dCarousel .react-3d-carousel .slider-container .slider-left div {
    display: block;
    border-top: 10px solid transparent;
    border-right: 20px solid #e26739;
    border-bottom: 10px solid transparent;
    padding: 0%;
  }

  @media only screen and (max-width:500px) {
    .content-wrapper{
      margin-top: 5rem;
    }
    .content-wrapper {
      background: linear-gradient( 180.25deg, rgba(252, 248, 248, 0.5) 12.57%, rgba(2, 48, 71, 0.5) 68.37% );
      margin-top: 0rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0rem 2rem;
      /* border: 2px solid black; */
  }
    .Quotation{
      width: 100%;
      padding-top: 1rem;
      flex-direction: column;
  
  
    }
    .Quotation_Form{
      width: 85%;
      
      margin-top: 2rem;
      /* border: 2px solid black; */
     
    }
    .Quotation_image{
      width: 85%;
      
     
    }
  
    
  }

  @media only screen and (min-width:600px) and (max-width:1300px) {
  .form_img {
    max-width: 24rem;
    height: 35rem;
}
  }